on init
    #create mountpoint for /mnt/vendor/persist partition
    mkdir /mnt/vendor/persist 0771 system system

on post-fs
    chown system system /mnt/vendor/persist
    chmod 0771 /mnt/vendor/persist

    # We restorecon /mnt/vendor/persist to set SEPolicy label.
    restorecon /mnt/vendor/persist

    # Create mcRegistry to store failure record
    mkdir /mnt/vendor/persist/mcRegistry 0771 system system
    #ifdef OPLUS_FEATURE_SECURITY_COMMON
    #Meilin.Zhou@BSP.Security.Basic,2020/10/21,Add for set property of Store_1.tf
    chown system system /mnt/vendor/persist/mcRegistry/Store_1.tf
    #endif /*OPLUS_FEATURE_SECURITY_COMMON*/

on post-fs-data
    # Create /data/vendor/key_provisioning dir and get proper encryption policy installed
    # Key Installation
    mkdir /data/vendor/key_provisioning 0771 system system

# For META/FACTORY mode
on property:ro.crypto.state=unencrypted
    write /proc/bootprof "MOBICORE: create /data/vendor/mcRegistry ++ (unencrypted)"
    mkdir /data/vendor/mcRegistry 0775 system system
    write /proc/bootprof "MOBICORE: create /data/vendor/mcRegistry -- (unencrypted)"

# Normal mode, FBE
on property:ro.crypto.type=file && property:ro.crypto.state=encrypted
    write /proc/bootprof "MOBICORE: create /data/vendor/mcRegistry ++ (FBE encrypted)"
    mkdir /data/vendor/mcRegistry 0775 system system
    write /proc/bootprof "MOBICORE: create /data/vendor/mcRegistry -- (FBE encrypted)"

# Normal mode, FDE
on property:vold.decrypt=trigger_restart_framework
    write /proc/bootprof "MOBICORE: create /data/vendor/mcRegistry ++ (FDE encrypted)"
    mkdir /data/vendor/mcRegistry 0775 system system
    write /proc/bootprof "MOBICORE: create /data/vendor/mcRegistry -- (FDE encrypted)"


on init
    mkdir /mnt/vendor/persist
    mount ext4 /dev/block/by-name/persist /mnt/vendor/persist rw

service keystore_auth /system/bin/keystore_auth
    oneshot
    user system
    group root
    disabled
    seclabel u:r:recovery:s0

on property:ro.crypto.state=encrypted && property:ro.crypto.type=file
    install_keyring
    setprop crypto.ready 1

service keystore /system/bin/keystore /tmp/misc/keystore
    user root
    group root drmrpc readproc
    disabled
    seclabel u:r:recovery:s0

service mobicore /vendor/bin/mcDriverDaemon --P1 /mnt/vendor/persist/mcRegistry \
	-r /vendor/app/mcRegistry/020f0000000000000000000000000000.drbin \
	-r /vendor/app/mcRegistry/05120000000000000000000000000000.drbin \
	-r /vendor/app/mcRegistry/05140000000000000000000000000000.drbin \
	-r /vendor/app/mcRegistry/020b0000000000000000000000000000.drbin \
	-r /vendor/app/mcRegistry/05070000000000000000000000000000.drbin \
	-r /vendor/app/mcRegistry/030b0000000000000000000000000000.drbin \
	-r /vendor/app/mcRegistry/030c0000000000000000000000000000.drbin \
	-r /vendor/app/mcRegistry/07060000000000000000000000007169.drbin \
	-r /vendor/app/mcRegistry/40188311faf343488db888ad39496f9a.drbin \
	-r /vendor/app/mcRegistry/06090000000000000000000000000000.drbin \
	-r /vendor/app/mcRegistry/9073f03a9618383bb1856eb3f990babd.drbin \
	-r /odm/vendor/app/mcRegistry/05070000000000000000000000000000.drbin \
    -r /vendor/app/mcRegistry/5020170115e016302017012521300000.drbin \
    -r /vendor/app/mcRegistry/511ead0a000000000000000000000000.tabin \
    -r /vendor/app/mcRegistry/0706000000000000000000000000004d.tlbin \
    -r /vendor/app/mcRegistry/05060000000000000000000000000000.tabin \
    -r /vendor/app/mcRegistry/05060000000000000000000000000001.tabin \
    -r /vendor/app/mcRegistry/06090000000000000000000000000000.drbin \
    -r /vendor/app/mcRegistry/06090000000000000000000000000000.tlbin \
    -r /vendor/app/mcRegistry/08080000000000000000000000000000.tlbin \
    -r /vendor/app/mcRegistry/08110000000000000000000000000000.tabin \
    -r /vendor/app/mcRegistry/04010000000000000000000000000008.tlbin \
    -r /vendor/app/mcRegistry/05220000000000000000000000000000.tlbin \
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

#Add for OPPO FBE
service hal_cryptoeng_oppo /system/bin/hw/vendor.oplus.hardware.cryptoeng@1.0-service
    user root
    group root drmrpc
    disabled
    seclabel u:r:recovery:s0

service keymaster-4-0 /system/bin/android.hardware.keymaster@4.0-service.trustonic
    user root
    group root drmrpc
    disabled
    seclabel u:r:recovery:s0

service gatekeeper-1-0 /vendor/bin/hw/android.hardware.gatekeeper@1.0-service
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

on property:hwservicemanager.ready=true
    start hal_cryptoeng_oppo
    start mobicore
    start keymaster-4-0
    start gatekeeper-1-0

on property:ro.crypto.state=unsupported
    stop hal_cryptoeng_oppo
    stop mobicore
    stop keymaster-4-0
    stop gatekeeper-1-0
    setprop crypto.ready 0

on property:ro.crypto.state=unencrypted
    stop hal_cryptoeng_oppo
    stop mobicore
    stop keymaster-4-0
    stop gatekeeper-1-0
    setprop crypto.ready 0

on property:twrp.decrypt.done=true
    stop hal_cryptoeng_oppo
    stop mobicore
    stop keymaster-4-0
    stop gatekeeper-1-0
    setprop crypto.ready 0
